:root{
    /* Variables */
    --main-color: #3564ad;
    --dark-main-color: #2f5a9b;
    --background-main-color: #eaeff6;
    --secondary-color: #ffcb05;
    --dark-secondary-color: #e5b604;
    --background-color: #ebeced;
}

body{
    font-family: monospace;
}

a{
    text-decoration: none;
    color: black;
}