<!DOCTYPE html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <script type="text/javascript" src="js/jquery/jquery.min.js" defer></script>
    <script type="text/javascript" src="js/login.js" defer></script>
</head>
<html>
<a href="index.php"><img  id="loginLogo" src="img/logo.png"></a>
<div id="loginDiv">
    <div id="loginHelp">

    </div>
    <form id="loginForm" method="post">
        <input class="formInput" placeholder="Correu Electrònic" name="userMail" type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="El format ha de ser exemple@exemple.xx"><br>
        <input class="formInput" placeholder="Contrasenya" name="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Ha de tenir, com a mínim, 8 caràcters, amb lletres minúscules, majúscules i números"><br>
        <button id="loginButton" class="submitButton" type="submit">Inicia Sessió</button>
        <h2 class="changeLoginRegister">Encara no estàs registrat? Fes-ho ara</h2>
    </form>
</div>
<div id="registerDiv" hidden>
    <form id="registerForm" action="./controller/loginController.php" method="post" autocomplete="off">
        <input class="formInput" placeholder="Nom" name="name" type="text" required pattern="[a-zA-z ]+" title="Introdueix un nom vàlid"><br>
        <input class="formInput" placeholder="Cognom" name="surname" type="text" required pattern="[a-zA-z ]+" title="Introdueix un cognom vàlid"><br>
        <input class="formInput" placeholder="Correu Electrònic" name="email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="El format ha de ser exemple@exemple.xx"><br>
        <input class="formInput" placeholder="Contrasenya" name="password" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Ha de tenir, com a mínim, 8 caràcters, amb lletres minúscules, majúscules i números"><br>
        <input class="formInput" placeholder="Adreça" name="address" type="text" required><br>
        <input class="formInput" placeholder="Ciutat" name="city" type="text" required pattern="[a-zA-z ]+" title="Introdueix una ciutat vàlida"><br>
        <input class="formInput" placeholder="Codi Postal" name="postalCode" type="text" maxlength="5" pattern="[0-9]+" required><br>
        <button class="submitButton" type="submit">Registra't</button>
        <h2 class="changeLoginRegister">Ja estàs registrat? Autentifica't</h2>
    </form>
</div>
</html>